<div class="container" style="background-color: black">
  <!-- Top NavBar -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-3">
      <img
        src="{{ movie.posterUrl }}"
        class="img-fluid"
        alt="{{ movie.title }}"
      />
    </div>
    <!-- Middle Column -->
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <h1 style="color: white">{{ movie.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 style="color: rgb(189, 185, 185); font-weight: lighter">
            {{ movie.tagline }}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h5 style="color: rgb(219, 215, 215); font-weight: lighter">
            {{ movie.runTime }} m | {{ movie.releaseDate }}
          </h5>
        </div>
        <div class="col-9" *ngFor="let genre of movie.genres">
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary btn-sm bg-genre-btn">
              {{ genre.name }}
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-success btn-sm bg-genre-btn"
            style="margin-bottom: 20px"
          >
            8.9
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p style="color: rgb(189, 185, 185)">{{ movie.overview }}</p>
        </div>
      </div>
    </div>
    <!-- Right Column -->
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <a
            class="btn btn-outline-light"
            asp-area=""
            asp-controller="Account"
            asp-action="Login"
            >Review</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="button"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#purchaseModal"
          >
            Purchase ${{ movie.price }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3 class="subtitle">MOVIE FACTS</h3>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="black"
            class="bi bi-film"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"
            />
          </svg>
          <p style="display: inline">Release Date</p>
          <button
            type="button"
            class="btn btn-secondary btn-sm bg-genre-btn"
            style="display: inline"
          >
            {{ movie.releaseDate }}
          </button>
        </li>
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-hourglass-split"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"
            />
          </svg>
          <p style="display: inline">Run Time</p>
          <button
            type="button"
            class="btn btn-secondary btn-sm bg-genre-btn"
            style="display: inline"
          >
            {{ movie.runTime }}
          </button>
        </li>
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cash"
            viewBox="0 0 16 16"
          >
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
            <path
              d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"
            />
          </svg>
          <p style="display: inline">Box Office</p>
          <button
            type="button"
            class="btn btn-secondary btn-sm bg-genre-btn"
            style="display: inline"
          >
            {{ movie.revenue }}
          </button>
        </li>
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-currency-dollar"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"
            />
          </svg>
          <p style="display: inline">Budget</p>
          <button
            type="button"
            class="btn btn-secondary btn-sm bg-genre-btn"
            style="display: inline"
          >
            {{ movie.budget }}
          </button>
        </li>
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-filter-square-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm.5 5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1 0-1zM4 8.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-box-arrow-in-up-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0v-5z"
            />
          </svg>
        </li>
      </ul>
      <h3 class="subtitle">TRAILERS</h3>
      <ul
        class="list-group list-group-flush"
        *ngFor="let trailer of movie.trailers"
      >
        <li class="list-group-item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-youtube"
            viewBox="0 0 16 16"
            style="display: inline"
          >
            <path
              d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
            />
          </svg>
          <a
            href="{{ trailer.trailerUrl }}"
            class="link-dark"
            style="display: inline"
          >
            {{ trailer.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <h3 class="subtitle">CAST</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let cast of movie.casts">
          <img
            src="{{ cast.profilePath }}"
            class="img-Cast"
            alt="{{ cast.name }}"
          />
          <p style="display: inline; margin-left: 80px">{{ cast.name }}</p>
          <a [routerLink]="['/Cast-Details/', cast.id]">
            <p style="display: inline; color: black; margin-left: 40px">
              {{ cast.character }}
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
