<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="text-danger" role="alert" *ngIf="!flag; $$: submitted">
          You failed to Register, please try again!
        </div>
        <div class="alert-primary" role="alert" *ngIf="flag">
          You Registered Successfully!
        </div>
        <div class="card-header">
          <h3>Angular Reactive Register Form</h3>
        </div>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
            />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['firstName'].touched || submitted) && (registerForm.controls['firstName'].errors?.['required'])"
            >
              First Name is Required</span
            >
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
            />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['lastName'].touched || submitted) && (registerForm.controls['lastName'].errors?.['required'])"
            >
              Last Name is Required</span
            >
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['email'].touched || submitted) && (registerForm.controls['email'].errors?.['required'])"
            >
              Email is Required</span
            >
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['email'].touched || submitted) && (registerForm.controls['email'].errors?.['email'])"
            >
              Please Enter a Valid Email Address
            </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['password'].touched || submitted) && (registerForm.controls['password'].errors?.['required'])"
            >
              Password is Required</span
            >
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['password'].touched || submitted) && (registerForm.controls['password'].errors?.['invalidPassword'])"
            >
              Password should have minimum 8 characters, at least 1 uppercase
              letter, 1 lowercase letter, and 1 number</span
            >
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
            />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['confirmPassword'].touched || submitted) && (registerForm.controls['confirmPassword'].errors?.['required'])"
            >
              Password is Required</span
            >
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['confirmPassword'].touched || submitted) && (registerForm.controls['confirmPassword'].errors?.['passwordMismatch'])"
            >
              Passwords Do Not Match</span
            >
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              type="date"
              class="form-control"
              formControlName="DateOfBirth"
            />
            <span
              class="text-danger"
              *ngIf="(registerForm.controls['DateOfBirth'].touched || submitted) && (registerForm.controls['DateOfBirth'].errors?.['required'])"
            >
              Date of Birth is Required</span
            >
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
